CreatePNR_AutomationApp/Web References/ReservationService/ConnectPoint_Reservation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConnectPoint_Reservation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Reservation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Reservation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Reservation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Reservation.Request" />
      <xsd:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Reservation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request" />
      <xsd:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Reservation.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Reservation.Response" />
      <xsd:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Reservation.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnectPoint_Reservation_CreatePNR_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_CreatePNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePNRResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_SummaryPNR_InputMessage">
    <wsdl:part name="parameters" element="tns:SummaryPNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_SummaryPNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:SummaryPNRResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_ModifyPNR_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_ModifyPNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPNRResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_CancelPNR_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelPNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_CancelPNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelPNRResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_RetrievePNR_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_RetrievePNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePNRResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_ImportPNR_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportPNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_ImportPNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportPNRResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_HistoryPNR_InputMessage">
    <wsdl:part name="parameters" element="tns:HistoryPNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_HistoryPNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:HistoryPNRResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_EvaluateModificationOfPNR_InputMessage">
    <wsdl:part name="parameters" element="tns:EvaluateModificationOfPNR" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Reservation_EvaluateModificationOfPNR_OutputMessage">
    <wsdl:part name="parameters" element="tns:EvaluateModificationOfPNRResponse" />
  </wsdl:message>
  <wsdl:portType name="IConnectPoint_Reservation">
    <wsdl:operation name="CreatePNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/CreatePNR" message="tns:IConnectPoint_Reservation_CreatePNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/CreatePNRResponse" message="tns:IConnectPoint_Reservation_CreatePNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SummaryPNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/SummaryPNR" message="tns:IConnectPoint_Reservation_SummaryPNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/SummaryPNRResponse" message="tns:IConnectPoint_Reservation_SummaryPNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/ModifyPNR" message="tns:IConnectPoint_Reservation_ModifyPNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/ModifyPNRResponse" message="tns:IConnectPoint_Reservation_ModifyPNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelPNR">
      <wsdl:documentation>	&lt;summary&gt;
		&lt;para&gt;CancelPNR allows for two actions to occur.&lt;/para&gt;
		&lt;para&gt;If action CancelReservation is specified in the request object submitted then the reservation that is associated with the session will be cancelled within
 the Radxx System. The associated charges that are refundable will be refunded accordingly and any cancellation fees that maybe accessed will be applied&lt;/para&gt;
		&lt;para&gt;If ActionType RevertReservation is specified then this action will rollback any Presaved mofications that may have occured in the in memory object. The end
 result will put the reservation back to the state that it was in upon initial call to RetrieveReservation.&lt;/para&gt;
	&lt;/summary&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/CancelPNR" message="tns:IConnectPoint_Reservation_CancelPNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/CancelPNRResponse" message="tns:IConnectPoint_Reservation_CancelPNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/RetrievePNR" message="tns:IConnectPoint_Reservation_RetrievePNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/RetrievePNRResponse" message="tns:IConnectPoint_Reservation_RetrievePNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportPNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/ImportPNR" message="tns:IConnectPoint_Reservation_ImportPNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/ImportPNRResponse" message="tns:IConnectPoint_Reservation_ImportPNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HistoryPNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/HistoryPNR" message="tns:IConnectPoint_Reservation_HistoryPNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/HistoryPNRResponse" message="tns:IConnectPoint_Reservation_HistoryPNR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EvaluateModificationOfPNR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/EvaluateModificationOfPNR" message="tns:IConnectPoint_Reservation_EvaluateModificationOfPNR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Reservation/EvaluateModificationOfPNRResponse" message="tns:IConnectPoint_Reservation_EvaluateModificationOfPNR_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnectPoint_Reservation" type="tns:IConnectPoint_Reservation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/CreatePNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryPNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/SummaryPNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/ModifyPNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/CancelPNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/RetrievePNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportPNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/ImportPNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoryPNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/HistoryPNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EvaluateModificationOfPNR">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Reservation/EvaluateModificationOfPNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectPoint_Reservation">
    <wsdl:port name="BasicHttpBinding_IConnectPoint_Reservation" binding="tns:BasicHttpBinding_IConnectPoint_Reservation">
      <soap:address location="http://qa.internalcp.flydubai.com/ConnectPoint.Reservation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>