CreatePNR_AutomationApp/Web References/FlightService/ConnectPoint.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Request" />
  <xs:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Response" />
  <xs:element name="RetrieveSeatAvailabilityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Request" minOccurs="0" name="RetrieveSeatAvailabilityListRequest" nillable="true" type="q1:RetrieveSeatAvailabilityList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSeatAvailabilityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Response" minOccurs="0" name="RetrieveSeatAvailabilityListResult" nillable="true" type="q2:ViewSeatAvailability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAirportRoutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Request" minOccurs="0" name="RetrieveAirportRoutesRequest" nillable="true" type="q3:RetrieveAirportRoutes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAirportRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Response" minOccurs="0" name="RetrieveAirportRoutesResult" nillable="true" type="q4:ViewAirportRoutes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLidAircraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Request" minOccurs="0" name="UpdateLidAircraftRequest" nillable="true" type="q5:UpdateInventoryAirCraftLid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLidAircraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Response" minOccurs="0" name="UpdateLidAircraftResult" nillable="true" type="q6:ViewUpdateLidAircraftCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>