CreatePNR_AutomationApp/Web References/FlightService/ConnectPoint_Flight.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConnectPoint_Flight" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Request" />
      <xsd:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request" />
      <xsd:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Flight.Response" />
      <xsd:import schemaLocation="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnectPoint_Flight_RetrieveSeatAvailabilityList_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSeatAvailabilityList" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Flight_RetrieveSeatAvailabilityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSeatAvailabilityListResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Flight_RetrieveAirportRoutes_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAirportRoutes" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Flight_RetrieveAirportRoutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAirportRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Flight_UpdateLidAircraft_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLidAircraft" />
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Flight_UpdateLidAircraft_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLidAircraftResponse" />
  </wsdl:message>
  <wsdl:portType name="IConnectPoint_Flight">
    <wsdl:operation name="RetrieveSeatAvailabilityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Flight/RetrieveSeatAvailabilityList" message="tns:IConnectPoint_Flight_RetrieveSeatAvailabilityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Flight/RetrieveSeatAvailabilityListResponse" message="tns:IConnectPoint_Flight_RetrieveSeatAvailabilityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAirportRoutes">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Flight/RetrieveAirportRoutes" message="tns:IConnectPoint_Flight_RetrieveAirportRoutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Flight/RetrieveAirportRoutesResponse" message="tns:IConnectPoint_Flight_RetrieveAirportRoutes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLidAircraft">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Flight/UpdateLidAircraft" message="tns:IConnectPoint_Flight_UpdateLidAircraft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Flight/UpdateLidAircraftResponse" message="tns:IConnectPoint_Flight_UpdateLidAircraft_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnectPoint_Flight" type="tns:IConnectPoint_Flight">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveSeatAvailabilityList">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Flight/RetrieveSeatAvailabilityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAirportRoutes">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Flight/RetrieveAirportRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLidAircraft">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Flight/UpdateLidAircraft" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectPoint_Flight">
    <wsdl:port name="BasicHttpBinding_IConnectPoint_Flight" binding="tns:BasicHttpBinding_IConnectPoint_Flight">
      <soap:address location="http://fzstgtmp.internal.connectpoint.radixx.com/ConnectPoint.Flight.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>