CreatePNR_AutomationApp/Web References/SecurityService/ConnectPoint3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Security.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request" />
  <xs:import schemaLocation="http://qa.internalcp.flydubai.com/ConnectPoint.Security.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response" />
  <xs:element name="RetrieveSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request" minOccurs="0" name="RetrieveSecurityTokenRequest" nillable="true" type="q1:RetrieveSecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response" minOccurs="0" name="RetrieveSecurityTokenResult" nillable="true" type="q2:ViewSecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDataByUserid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request" minOccurs="0" name="getGroupDataByUseridRequest" nillable="true" type="q3:RequestGetGroupDataByUserid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDataByUseridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response" minOccurs="0" name="GetGroupDataByUseridResult" nillable="true" type="q4:ResponseGetGroupDataByUserid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request" minOccurs="0" name="ValidateSecurityTokenRequest" nillable="true" type="q5:ValidateSecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response" minOccurs="0" name="ValidateSecurityTokenResult" nillable="true" type="q6:ViewValidatedSecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>